.App {
  text-align: center;
}

button {
  width: 7rem;
  height: 2.5rem;
  font-size: x-large;
  margin: 10px 5px;
  background-color: rgb(231, 208, 105);
  border-color: rgb(231, 208, 105);
  border-radius: 5px;
}
